@model dynamic

@{
    ViewBag.Title = "async/await demo";

}

<div class="jumbotron">
    <h1>async/await Instrumentation</h1>
    <p class="lead">
        This example demostrates <code>async/await</code> support by instrumentation framework.
    </p>
</div>

<div class="row">
    @Html.ActionLink("Click to run download", "Download")
</div>